.hidden-tips-bg {
    background-color: #f4fbfe;
}

.hidden-tips .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
}

.hidden-tips .icon-box:hover {
    transform: translateY(-5px);
}

.hidden-tips .icon {
    position: absolute;
    left: -20px;
    top: calc(50% - 30px);
}

.hidden-tips .icon i {
    font-size: 64px;
    line-height: 1;
    transition: 0.5s;
}

.hidden-tips .title {
    margin-left: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.hidden-tips .title a {
    color: #111;
}

.hidden-tips .icon-box:hover .title a {
    color: #49b5e7;
}

.hidden-tips .description {
    font-size: 14px;
    margin-left: 40px;
    line-height: 24px;
    margin-bottom: 0;
}