.feature-menu {
    ul {
        list-style-type: none;
        margin: 0px;
        padding-left: 0;
    }

    li.active {
        position: relative;

        a {
            background: #303032;
            color: #fff !important;
            cursor: pointer;
        }

        &::after {
            position: absolute;
            content: '';
            height: 15px;
            width: 15px;
            background: #303032;
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
        }
    }

    &:not(.right) {
        li.active {
            &::after {
                left: -7px !important;
            }
        }
    }

    &.right {
        li.active {
            &::after {
                right: -7px !important;
            }
        }
    }

    .border {
        border: 1px solid #dee2e6 !important;
        border-radius: 8px;
    }

    .border-bottom {
        border-bottom: 1px solid #dee2e6 !important;
    }

    .rounded-top {
        border-top-left-radius: 8px !important;
        border-top-right-radius: 8px !important;
    }

    .rounded-bottom {
        border-bottom-right-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
    }

    .text-dark {
        color: #222;
    }

    .p-4 {
        padding: 0.8rem !important;
    }

    .d-block {
        display: block !important;
    }
}